body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("images/background.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

:root {
    --frameRatio: 5 / 3;
    --screenRatio: 1 / 1;
}


.etch-a-sketch {
    width: min(80vw, calc(45vh * var(--frameRatio)));
    aspect-ratio: var(--frameRatio); 

    padding: 2.5%;
    box-sizing: border-box;
    background: #c94e35;
    border: 0.6vmin solid #8f3422;
    border-radius: 5vmin;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    margin-bottom: 0.3vmin;
    padding-bottom: 0;
    font-family: "Comic Neue", "Baloo 2", sans-serif;
    font-size: 4vmin;
    letter-spacing: .4vmin;
    line-height: 1.1;
    color: #f6ff7c;
    text-align: center;
    text-shadow: .3vmin .3vmin 0.1vmin #8f3422;
}
#credit {
    font-family: "Comic Neue", "Baloo 2", sans-serif;
    text-align: right;
    color: white;
    margin-top: 0;
    padding-left: 24vmin;
    font-size: 1.7vmin;
}
#credit a {
    text-decoration: none;
    color: inherit;
}


.screen {
    width: 92%;                       
    aspect-ratio: var(--screenRatio); 
    margin: 2.5% 0;
    background: #fff;
    border: 0.6vmin solid #8f3422;
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-wrap: wrap;

    user-select: none;
}
.grid-square {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: url("images/pencilcursor.png") 0 15, auto;
}


.controls {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2.5%;
}
.knob {
    width: 11vmin;
    height: 11vmin;
    max-width: 110px; 
    max-height: 110px;
    background: #fff;
    border: 0.6vmin solid #8f3422;
    border-radius: 50%;
}
.tool-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmin;
}
.toolbar {
    display: flex;
    gap: 1.2vmin; 
}
.tool-btn {
    width: 6vmin;
    height: 6vmin;
    max-width: 60px;
    max-height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
    border: 0.45vmin solid #8f3422;
    border-radius: 1vmin;
    cursor: pointer;
    padding: 0;
    }
.tool-btn img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    pointer-events: none;
}
#size-display {
    font-family: "Comic Neue", "Baloo 2", sans-serif;
    font-size: 2vmin;
    font-weight: bold;
    background: #fff;
    color: #612519;
    padding: 0.6vmin 4.5vmin;
    border-radius: 1vmin;
    border: 0.45vmin solid #8f3422;
    user-select: none;
    cursor: pointer;
}

